@plugin '@tailwindcss/typography';

.markdown {
  @apply prose;
  @apply max-w-full;

  /* Code blocks */
  --tw-prose-pre-code: var(--primary);
  --tw-prose-pre-bg: var(--color-slate-50);

  /* Headers */
  & :where(h1, h2, h3, h4, h5, h6) {
    margin-top: 1em;
  }

  & > :where(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
  }

  /* Paragraph spacing */
  & :where(p, hr) {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  & :where(a) {
    color: var(--primary);
  }
}
